---
import "../css/global.css";
import "../css/variables.css";
import "../assets/Btn.astro";
import "../assets/Link.astro";
---

<header class="header">
  <!-- Mobil menu layout -->
  <div class="navigation">
    <a href="#header"><img src="../public/logo.png" alt="logo" /></a>
    <div class="burger_menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>

  <!-- Menu liste -->

  <ul class="nav_menu">
    <li class="nav_item"><a href="#what">what is contra?</a></li>
    <li class="nav_item">
      <a href="#who">who are we?</a>
    </li>
    <li class="nav_item"><a href="#events">our events</a></li>
    <li class="nav_item"><a href="#guests">guest of contra</a></li>
  </ul>
</header>
